* {
    margin: 0;
    padding: 0;
}
#top-hr {
    border-top: 2px solid #eee;
}

#inter-hr {
    margin-top: 10px;
}
.main {
    margin: 30px;
    border-radius: 10px;
}
body {
    /*background-color: #efefef;*/
    min-height: 100vh;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}
.btn-success {
    float: right;
    margin-bottom: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.media-object {
    width: 40px;
    height: 40px;
}
.article-status {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.radius-row-left {
    border: 1px solid gainsboro;
    /*border-right: none;*/
    border-radius:10px 0 0 10px;
    background-color: white;
}

.radius-row-right {
    border: 1px solid gainsboro;
    border-left: none;
    border-radius:0 10px 10px 0;
    background-color: white;
}

.media {
    margin-top: 0;
    display: flex;
    align-items: center;
}
.pagination {
    float: right;
}

.list-group {
    margin-top:20px;
}
.list-group-item.active, .list-group-item.active:hover {
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}
/*.media hr {*/

/*}*/
