* {
    margin: 0;
    padding: 0;
}
#top-hr {
    border-top: 2px solid #eee;
}

#inter-hr {
    margin-top: 10px;
}
.main {
    margin: 30px;
    border-radius: 10px;
}
body {
    /*background-color: #efefef;*/
    min-height: 100vh;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}
.btn-success {
    float: right;
    margin-bottom: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.media-object {
    width: 40px;
    height: 40px;
}
.article-status {
    font-size: 13px;
    font-weight: normal;
    color: #999;
    font-family: candara,candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei";
}
.radius-row-left {
    border: 1px solid gainsboro;
    /*border-right: none;*/
    border-radius:10px 0 0 10px;
    background-color: white;
}

.radius-row-right {
    border: 1px solid gainsboro;
    border-left: none;
    border-radius:0 10px 10px 0;
    background-color: white;
}

.media {
    margin-top: 0;
    display: flex;
    align-items: center;
}
.pagination {
    float: right;
}

.list-group {
    margin-top:20px;
}
.list-group-item.active, .list-group-item.active:hover {
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}

.question-description {
    font-size: 14px;
    color: #444444;
}

.creator-div {
    margin-top: 10px;
    padding: 0;
    border-bottom: 1px lightgray solid;
}
.question-status {
    display: flex;
    justify-content: flex-end;
    align-content: center;

}

.comment-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.comment-foot {
    font-size: 13px;
    font-weight: normal;
    color: #999;
    font-family: candara,candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei";
}
.comment-btn {
    margin-right: 15px;
    display: inline-block;
    block-size: content-box;
    color:#999;
    border: none;
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.92);

}

.comment-btn a {
    display: inline-block;
    padding: 5px 10px;
    color: #999;
}

.comment-btn a:hover {
    color:#ffffff;
}

.comment-btn:hover{
    cursor: pointer;
    background-color: #1496bd;
}

.comment-btn:hover a{
    color:#ffffff;
}

.comment-btn-active{
    cursor: pointer;
    background-color: #1496bd;
    border-radius: 5px;
}

.comment-btn-active .comment-btn-content {
    display: inline-block;
    padding: 5px 10px;
    color:#ffffff;
}

.comment-time-bar {
    font-size: 13px;
    font-weight: normal;
    color: #999;
    font-family: candara,candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei";
}

.second-comment-list {
    border: 1px solid #eee;
    border-radius: 10px;
    margin:20px auto 0 auto;
    padding: 0;
}

.comment-foot {
    padding-left: 50px;
}

.tag {
    margin-top: 5px;
    margin-right: 11px;
    font-size: 12px;
}
.tag:hover {
    cursor: pointer;
}
.selectTags {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px #dddddd;
}
.tags-container {
    margin-top: 6px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap:wrap;
}


.tag-btn {
    margin-right: 15px;
    display: inline-block;
    block-size: content-box;
    color:#999;
    border: none;
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.92);
}

.tag-btn:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #1496bd;
}
.btn-active {
    cursor: pointer;
    background-color: #1496bd;
    border-radius: 5px;
    color:#ffffff;
}
/*.media hr {*/

/*}*/
