<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error_style.css">
    <title>出错了</title>
</head>
<body>
<div class="main-container">
    <div class="img-container container-item">
        <img src="/img/404.svg">
    </div>
    <div class="text-container container-item">
        <div class="code" th:text="${errorCode}"></div>
        <div class="msg" th:text="${exMessage}"></div>
        <a class="action" href="/">返回首页,查看更多内容.</a>
    </div>
</div>
</body>
</html>