<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>springboot demo</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script th:replace="common/pageNavi :: nav-script (${path})"></script>


</head>
<body>

<header th:insert="common/navigation :: nav-bar"></header>


<div class="container-fluid main ">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 radius-row-left">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h2>
            <hr id="top-hr"/>

            <div th:replace="common/pageNavi :: meadia-list"></div>
            <nav th:replace="common/pageNavi :: page-nav"></nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 radius-row-right">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
</body>

</html>